# Cleaning stocks

In [1]:
import pandas as pd
from pathlib import Path

stocks = pd.read_csv('../data/stock_price_monthly_2003_2024.csv')

stocks.head()

C:\Users\vietx\AppData\Local\Temp\ipykernel_6108\2969684623.py:4: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  stocks = pd.read_csv('../data/stock_price_monthly_2003_2024.csv')

,PERMNO,date,SHRCD,EXCHCD,SICCD,NCUSIP,TICKER,COMNAM,PERMCO,CUSIP,PRC,VOL,RET,SHROUT
0,10001,31/01/2002,11,3,4920,29274A10,EWST,ENERGY WEST INC,7953,36720410,11.3000,474.0,-0.013100,2566.0
1,10001,28/02/2002,11,3,4920,29274A10,EWST,ENERGY WEST INC,7953,36720410,10.7000,495.0,-0.053097,2569.0
2,10001,28/03/2002,11,3,4920,29274A10,EWST,ENERGY WEST INC,7953,36720410,10.4000,908.0,-0.015888,2571.0
3,10001,30/04/2002,11,3,4920,29274A10,EWST,ENERGY WEST INC,7953,36720410,9.9500,1346.0,-0.043269,2571.0
4,10001,31/05/2002,11,3,4920,29274A10,EWST,ENERGY WEST INC,7953,36720410,10.0975,647.0,0.014824,2571.0

In [2]:
drop_stock_cols = ["CUSIP", "vwretx", "PERMCO", "PERMNO", "RCRDDT", "SHRCD", "EXCHCD", "SICCD"]

try:
   stocks["NasdaqDummy"] = (stocks["EXCHCD"] == 3).astype(int)
except:
   print("EXCHCD col not found")


stocks.drop(drop_stock_cols, axis=1, inplace=True, errors="ignore")
stocks.head()

,date,NCUSIP,TICKER,COMNAM,PRC,VOL,RET,SHROUT,NasdaqDummy
0,31/01/2002,29274A10,EWST,ENERGY WEST INC,11.3000,474.0,-0.013100,2566.0,1
1,28/02/2002,29274A10,EWST,ENERGY WEST INC,10.7000,495.0,-0.053097,2569.0,1
2,28/03/2002,29274A10,EWST,ENERGY WEST INC,10.4000,908.0,-0.015888,2571.0,1
3,30/04/2002,29274A10,EWST,ENERGY WEST INC,9.9500,1346.0,-0.043269,2571.0,1
4,31/05/2002,29274A10,EWST,ENERGY WEST INC,10.0975,647.0,0.014824,2571.0,1

In [3]:
# check for missing values and null values:

stocks.isnull().sum()

date              0
NCUSIP            0
TICKER            0
COMNAM            0
PRC            7340
VOL             964
RET            7340
SHROUT          957
NasdaqDummy       0
dtype: int64

In [4]:
# show 10 rows with missing values:

stocks[stocks.isnull().any(axis=1)].head(10)

,date,NCUSIP,TICKER,COMNAM,PRC,VOL,RET,SHROUT,NasdaqDummy
187,31/08/2017,36720410,EGAS,GAS NATURAL INC,NaN,7035.0,NaN,10520.0,0
321,28/02/2013,05978R10,BTFG,BANCTRUST FINANCIAL GROUP INC,NaN,1575.0,NaN,17966.0,1
365,31/08/2005,23326910,DPAC,D P A C TECHNOLOGIES CORP,NaN,1436.0,NaN,23745.0,1
371,28/06/2002,44950710,IFRS,I F R SYSTEMS INC,NaN,320.0,NaN,8282.0,1
552,31/01/2017,00103110,AEPI,A E P INDUSTRIES INC,NaN,11976.0,NaN,5114.0,1
1397,31/12/2003,38209110,GGUY,GOOD GUYS INC,NaN,7293.0,NaN,27268.0,1
1427,30/06/2004,35242V10,FBCP,FRANKLIN BANCORP INC,NaN,NaN,NaN,NaN,1
1502,31/03/2008,13886930,CAU,CANYON RESOURCES CORP,NaN,37211.0,NaN,53048.0,0
1997,31/10/2022,41043F20,HNGR,HANGER INC,NaN,0.0,NaN,39123.0,0
2055,31/10/2006,65163310,NMIL,NEWMIL BANCORP INC,NaN,156.0,NaN,4075.0,1

In [5]:
# drop rows with missing values:

stocks.dropna(inplace=True)

In [6]:
# save to processed

stocks.to_csv('../processed_data/stock_price_monthly_2003_2024_processed.csv', index=False)

# Cleaning IBES

In [7]:
import pandas as pd
ibes = pd.read_csv('../data/ibes_eps_quarters_2003_2024.csv')
ibes.head()

,TICKER,CUSIP,OFTIC,CNAME,STATPERS,MEASURE,FPI,NUMEST,FPEDATS
0,0000,87482X10,TLMR,TALMER BANCORP,17/04/2014,EPS,6,4,31/03/2014
1,0000,87482X10,TLMR,TALMER BANCORP,15/05/2014,EPS,6,5,30/06/2014
2,0000,87482X10,TLMR,TALMER BANCORP,19/06/2014,EPS,6,5,30/06/2014
3,0000,87482X10,TLMR,TALMER BANCORP,17/07/2014,EPS,6,5,30/06/2014
4,0000,87482X10,TLMR,TALMER BANCORP,17/04/2014,EPS,7,5,30/06/2014

In [8]:
drop_ibes_cols = ["MEASURE", "TICKER"]

ibes.drop(drop_ibes_cols, axis=1, inplace=True, errors="ignore")

ibes.head()

      CUSIP OFTIC           CNAME    STATPERS  FPI  NUMEST     FPEDATS
0  87482X10  TLMR  TALMER BANCORP  17/04/2014    6       4  31/03/2014
1  87482X10  TLMR  TALMER BANCORP  15/05/2014    6       5  30/06/2014
2  87482X10  TLMR  TALMER BANCORP  19/06/2014    6       5  30/06/2014
3  87482X10  TLMR  TALMER BANCORP  17/07/2014    6       5  30/06/2014
4  87482X10  TLMR  TALMER BANCORP  17/04/2014    7       5  30/06/2014

In [9]:
# check for missing values and null values:

ibes.isnull().sum()

CUSIP         6
OFTIC       107
CNAME         6
STATPERS      0
FPI           0
NUMEST        0
FPEDATS       0
dtype: int64

In [10]:
# show 10 rows with missing values:

ibes[ibes.isnull().any(axis=1)].iloc[0:10]

           CUSIP OFTIC         CNAME    STATPERS  FPI  NUMEST     FPEDATS
489575       NaN   NaN           NaN  17/06/2004    8       1  30/09/2004
489576       NaN   NaN           NaN  15/07/2004    8       1  30/09/2004
489577       NaN   NaN           NaN  19/08/2004    8       1  30/09/2004
489578       NaN   NaN           NaN  17/06/2004    9       1  31/12/2004
489579       NaN   NaN           NaN  15/07/2004    9       1  31/12/2004
489580       NaN   NaN           NaN  19/08/2004    9       1  31/12/2004
663300  09856Q10   NaN  BOOKHAM TECH  16/01/2003    6       2  31/03/2002
663301  09856Q10   NaN  BOOKHAM TECH  20/02/2003    6       1  31/03/2002
663302  09856Q10   NaN  BOOKHAM TECH  20/03/2003    6       1  31/03/2002
663303  09856Q10   NaN  BOOKHAM TECH  17/04/2003    6       1  31/03/2002

In [11]:
# drop rows if both CUSIP and OFTIC are missing:

ibes.dropna(subset=["CUSIP", "OFTIC"], how="all", inplace=True)

In [12]:
# save to processed

ibes.to_csv('../processed_data/ibes_eps_quarters_2003_2024_processed.csv', index=False)

# Check for connection between 2 tables

In [13]:
stocks = pd.read_csv('../processed_data/stock_price_monthly_2003_2024_processed.csv')

In [14]:
ibes = pd.read_csv('../processed_data/ibes_eps_quarters_2003_2024_processed.csv')

In [15]:
# get all unique CUSIP OFTIC CNAME from ibes:

ibes_unique_CUSIP_OFTIC = ibes[["CUSIP", "OFTIC"]].drop_duplicates()

ibes_unique_CNAME = ibes["CNAME"].unique()

# show
ibes_unique_CUSIP_OFTIC

            CUSIP  OFTIC
0        87482X10   TLMR
113      26878510    EPE
341      26878510   EPEG
354      26878510  EPEGQ
381      02504D10   ACSF
...           ...    ...
4153866  98950E40   ZVXI
4153898  16951E10     ZX
4153946  87254010    TJX
4154990  98986X10   ZYNE
4155378  98986M10   ZYXI

[17627 rows x 2 columns]

In [16]:
# get all unique NCUSIP TICKER COMNAM from stocks

stocks_unique_NCUSIP_TICKER = stocks[["NCUSIP", "TICKER"]].drop_duplicates()

stocks_unique_COMNAM = stocks["COMNAM"].unique()

stocks_unique_NCUSIP_TICKER

           NCUSIP TICKER
0        29274A10   EWST
73       29274A20   EWST
91       29269V10   EGAS
102      36720410   EGAS
187      83623410   SABC
...           ...    ...
1144523  92870X30   VLTC
1144567  78513510   SANW
1144739  78513530   SANW
1144742  82936G20   SCEI
1144765  88160R10   TSLA

[15786 rows x 2 columns]

In [17]:
# # if (NCUSIP, TICKER) in both stocks and ibes, then merge

# stocks_ibes_uniques = pd.merge(stocks_unique_NCUSIP_TICKER, ibes_unique_CUSIP_OFTIC,
#                             how="inner", left_on=["NCUSIP", "TICKER"], right_on=["CUSIP", "OFTIC"])
# stocks_ibes_uniques

In [18]:
# # keep only stocks that has both NCUSIP and TICKER in stocks_ibes_uniques
# stocks = stocks[stocks["NCUSIP"].isin(stocks_ibes_uniques["NCUSIP"]) & stocks["TICKER"].isin(stocks_ibes_uniques["TICKER"])]
# stocks

In [19]:
# keep only ibes that has both CUSIP and OFTIC in stocks_unique_NCUSIP_TICKER
ibes = ibes[ibes["CUSIP"].isin(stocks_unique_NCUSIP_TICKER["NCUSIP"]) & ibes["OFTIC"].isin(stocks_unique_NCUSIP_TICKER["TICKER"])]
ibes

            CUSIP OFTIC           CNAME    STATPERS  FPI  NUMEST     FPEDATS
0        87482X10  TLMR  TALMER BANCORP  17/04/2014    6       4  31/03/2014
1        87482X10  TLMR  TALMER BANCORP  15/05/2014    6       5  30/06/2014
2        87482X10  TLMR  TALMER BANCORP  19/06/2014    6       5  30/06/2014
3        87482X10  TLMR  TALMER BANCORP  17/07/2014    6       5  30/06/2014
4        87482X10  TLMR  TALMER BANCORP  17/04/2014    7       5  30/06/2014
...           ...   ...             ...         ...  ...     ...         ...
4155850  98986M10  ZYXI           ZYNEX  14/11/2024    8       3  30/06/2025
4155851  98986M10  ZYXI           ZYNEX  15/08/2024    9       3  30/06/2025
4155852  98986M10  ZYXI           ZYNEX  19/09/2024    9       3  30/06/2025
4155853  98986M10  ZYXI           ZYNEX  17/10/2024    9       3  30/06/2025
4155854  98986M10  ZYXI           ZYNEX  14/11/2024    9       3  30/09/2025

[3206594 rows x 7 columns]

In [20]:
# save to processed

stocks.to_csv('../processed_data/stock_price_monthly_2003_2024_processed.csv', index=False)
ibes.to_csv('../processed_data/ibes_eps_quarters_2003_2024_processed.csv', index=False)